.checkout {
    font-family: Lexend;
    font-style: normal;
    font-size: 16px;
    color: #2F2F2F;
    background: #fcfcf7;
}

.container-fluid {
    padding-left: 0px;
}

// checkout body css
form {
    padding: 24px;
    background: #FFFFFF;
}

.form-heading {
    margin-bottom: 48px;
    font-weight: 500;
    font-size: 24px;
}

.top-row {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.form-label {
    font-weight: 500;
    margin-right: 8px;
    color: #000000;
    margin-bottom: 18px !important;

    span {
        font-weight: normal;
        color: #2f2f2f;
    }
}

.topic,
.details {
    background: #FFFFFF;
    border: 1px solid #BEBEBE;
    box-sizing: border-box;
    margin-bottom: 26px;

}

.details {
    height: 290px;

}

.checkout-btn {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    padding: 16px 32px;
    background: #F03454;
    border: none;
}

@media screen and (min-width:770px) {

    .date-box {
        margin-right: 96px !important;
    }

    .checkout-btn {
        margin-bottom: 120px !important;
    }
}

@media screen and (min-width:375px) {

    .date-box {
        margin-right: 30px;
    }
}