
.notification {
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    background: #fcfcf7;
}

//notification body css
.event-header {
    margin-bottom: 41px !important;
}

.event-header img {
    margin-right: 7px;
}

.color-icons {
    margin-right: 22px;
}

.first-date {
    margin-top: 15px !important;
}

.not-date {
    margin-top: 0px;
    margin-bottom: 8px !important;
}

.not-date,
.not-time {
    font-weight: normal;
    font-size: 14px;
    color: #828282;
    line-height: 16px;
}

.not-lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.not-time {
    margin-top: 0px !important;
}

.not-details {
    background: #f3f3f3;
    border: 0.5px solid #bbbbbb;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 12px;
    width: 100%;
    margin-bottom: 28px;

    font-size: 18px;
    color: #454545;
}

// .timeline {
//     margin-left: 18px;
//     margin-right: 48px;
// }

// css for pre timeline 

$gutter: 30px;
$border-width: 4px;
$dot-diameter: 16px;


.timeline {
    width: 100%;
    position: relative;
    margin-bottom: 70px;

    &:before {
        content: '';
        position: absolute;
        top: 0px;
        left: calc(12% + 13px); //$gutter/2
        bottom: 0px;
        width: $border-width;
        background: #ddd;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.entry {
    clear: both;
    text-align: left;
    position: relative;

    .title {
        margin-top: 1.5em;
        margin-bottom: .5em;
        float: left;
        text-align: right;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: $dot-diameter;
            height: $dot-diameter;
            border-radius: 100%;
            top: 15%;
            right: -8px;
            z-index: 99;
        }

        h3 {
            margin: 0;
            font-size: 120%;
        }

        p {
            margin: 0;
            font-size: 100%;
        }
    }

}

.green .title:before {
    border: $border-width solid #53CF48;
    background-color: #53CF48;
}

.red .title:before {
    border: $border-width solid #E82E2E;
    background-color: #E82E2E;
}

.blue .title:before {
    border: $border-width solid #2067D1;
    background-color: #2067D1;
}

.yellow .title:before {
    border: $border-width solid #FFDF6A;
    background-color: #FFDF6A;
}

.body {
    float: left;
    width: 70%;
    margin-left: 30px;


}


@media screen and (min-width:375px) {

   

    .not-details {
        padding: 10px;
        margin-bottom: 40px;
    }

    .not-time {
        margin-bottom: 40px;

    }

    
    .entry{
        .title{
        padding-right:18px;

            width:95px;
        }
    }
    .timeline{
        &:before {
        
            left: calc(24% + 13px); 
        }
    }

    .body{
        width: 65%;
        margin-left: 19px;
    }
    }


@media screen and (min-width:768px) {
    
    .not-details {
        padding: 28px 30px 28px 40px !important;
        margin-bottom: 28px !important;

    }

    .not-time {
        margin-bottom: 71px;

    }
    .entry{
        .title{
        padding-right: $gutter;
        width: 136px;

        }
    }
    .timeline{
        &:before {
        
            left: calc(20% + 14px); 
        }
    }
    .body {
        float: left;
        width: 70%;
        margin-left: 30px;
    
    
    }
   
}

@media screen and (min-width:770px) {
    .not-details {
        padding: 28px 234px 28px 40px !important;

    }

    .timeline{
    padding: 25px 50px 80px 0px;
    &:before {
        
        left: calc(12% + 13px); 
    }
    }

}
