@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
.sidenav-bar {
  background-color: #ffffff;
}

.logo {
  padding: 22px 71px 36px 24px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 18px;
  color: #2c2c2c;
  @include flex(center, center, row);

  img {
    margin-right: 16px;
  }
}

.nav-links {
  padding: 0;
  margin-bottom: 561px;

  li {
    a {
      display: flex;
      padding: 20px 95px 20px 24px;
      border: 1px solid #ffffff;
      font-weight: 500;
      font-size: 16px;
      transition: 0.3s ease-in-out;

      &:hover {
        background-color: #e94239;
        color: #ffffff;
        border: 1px solid #000000;
      }

      img {
        margin-right: 16px;
      }
    }
  }
}
.contact-admin-btn {
  padding: 16px 16.5px;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #e74948;
  img {
    margin-right: 10.5px;
  }
}

.header {
  @include flex(space-between, center, row);
  .page-title {
    font-weight: 500;
    font-size: 28px;
    color: #2f2f2f;
    margin-top: 32px;
    margin-bottom: 36px;
  }
  .checkin-user {
    @include flex(space-between, center, row);
    .checkin-btn {
      padding: 13.5px 42.5px;
      background: #17b182;
      font-weight: 500;
      font-size: 14px;
      color: white;
      transition: 0.3s ease;
      &:hover {
        box-shadow: 0px 4px 8px rgba(23, 177, 130, 0.25);
      }
      img {
        margin-right: 8px;
      }
    }
    .notify-btn {
      padding: 11.35px 13.53px;
      border: 1px solid #e9e9e9;
      margin: 0 8px;
      //   &:hover {
      //     box-shadow: 0px 4px 5px rgba(160, 160, 160, 0.2);
      //   }
    }
  }
}
//dropdown

.dropdown {
  position: relative;
  display: inline-block;
  border: 1px solid #e9e9e9;
  padding: 11.8px 13px;
  font-weight: normal;
  font-size: 14px;
  .username {
    margin: 0 8px;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 176px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 9px 13px;
  text-decoration: none;
  display: block;
  font-weight: normal;
  font-size: 14px;
  color: #2f2f2f;
  img {
    margin-right: 12px;
  }
}

.dropdown-content a:hover {
  background: #fff4f4;
  color: #e73d3d;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dashboard-contents {
  .calendar {
    height: 656px;
    background-color: #f39c9c;
    margin-bottom: 20px;
  }

  .leaves {
    .leave-data {
      margin-bottom: 32px;
      h2 {
        font-weight: 500;
        font-size: 24px;
        color: #2f2f2f;
        margin-bottom: 16px;
      }
      .leave-data-box {
        background: #ffffff;
        padding: 32px 16px 24px 16px;
        .leave-taken-remaining {
          @include flex(space-evenly, center, row);
          text-align: center;
          margin-bottom: 45px;

          p {
            margin-bottom: 20px;
            font-weight: normal;
            font-size: 16px;
            color: #9c9c9c;
          }
          h4 {
            font-weight: 500;
            font-size: 42px;
            color: #2f2f2f;
          }
          .line {
            border: 1px solid #bfbfbf;
            transform: rotate(90deg);
            width: 48px;
            margin-top: 35px;
          }
        }
      }

      .apply {
        padding: 16px 0;
        display: flex;
        justify-content: center;
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
        color: #f0466f;
        border: 1px solid #e9e9e9;
      }
    }

    // employees on leave
    .emp-leave {
      .title {
        margin-bottom: 16px;
        font-size: 24px;
        color: #2f2f2f;
      }
      .hello {
        padding: 24px 16px;
        background: #ffffff;
      }
      .offline-users {
        background: #ffffff;
        padding: 0 20px;
        ul {
          padding: 0;

          li {
            display: flex;
            @include flex(space-between, center, row);

            .left-info {
              img {
                margin-right: 16px;
              }
              h4 {
                font-weight: normal;
                font-size: 16px;
                color: #2f2f2f;
              }
              h5,
              p {
                font-weight: normal;
                font-size: 14px;
                color: #6a6a6a;
              }
            }
            p {
              font-weight: normal;
              font-size: 14px;
              color: #6a6a6a;
              margin-bottom: 30px;
            }
          }

          .leave-h-line {
            border: 1px solid #e2e2e2;
            width: 100%;
            margin: 16px 0;
          }
        }
      }
      //   scroll-bar of onleave employee
      .scrollbar-leave {
        height: 519px;
        overflow-y: scroll;
      }

      .force-overflow {
        min-height: 450px;
      }

      #style-1::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 50px;
        background-color: #f5f5f5;
      }

      #style-1::-webkit-scrollbar {
        width: 4px;
        background-color: #f0f0f0;
      }

      #style-1::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #555;
      }
    }
  }
}

.cal-events {
  .upcoming-events {
    ul {
      padding: 0;
      li {
        padding: 10px 12px 10px 10px;
        background: #ffffff;
        border: 1px solid #e9e9e9;
        @include flex(space-between, center, row);
        margin-bottom: 12px;
        .event-info {
          @include flex(space-between, center, row);
          .date {
            padding: 7px 22.5px;
            background: #f0466f;
            color: #ffeded;
            text-align: center;
            margin-right: 16px;
            .month {
              font-weight: 500;
              font-size: 14px;
            }
            .day {
              font-weight: 500;
              font-size: 24px;
            }
          }
        }
        .holiday-type {
          padding: 3px 8px;
          span {
            margin-right: 4px;
          }
        }
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
