#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar {
  width: 4px;
  background-color: #f0f0f0;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.force-overflow {
  min-height: 450px;
}

.scrollbar-card {
  height: 753px;
  width: 100%;
  overflow-y: scroll;
}

.employee_contents {
  background: #ffffff;
  padding: 20px 12px 0 16px;
  .employee_filters {
    flex-wrap: wrap;
    @include flex(space-between, center, row);
    margin-bottom: 24px;
    .left_filters {
      flex-wrap: wrap;
    }
    .emp_filter {
      padding: 6px 10.5px 6px 16px;
    }
    .department {
      margin-left: 8px;
      margin-right: 16px;
    }
    .search_bar {
      @include flex(center, center, row);
      background: #ffffff;
      border: 1px solid #e4e4e4;
      padding: 6px 16px;
      input {
        outline: none;
        border: none;
        font-weight: normal;
        font-size: 14px;
        color: #565656;
      }
      img {
        cursor: pointer;
      }
    }

    .employee_view {
      @include flex(center, center, row);

      .view {
        border: 1px solid #f03454;
        padding: 12px;
        width: 36px;
        height: 36px;
        &:hover {
          background: #f03454;
          #list {
            fill: #ffffff;
          }
          #grid {
            fill: #ffffff;
          }
        }
      }

      .list_view {
        margin-right: 8px;

        #list {
          fill: #f03454;
        }

        // img {
        //   border: 1px solid #f03454;
        //   padding: 12px;
        // }
      }
      .grid_view {
        #grid {
          fill: #f03454;
        }
        img {
          padding: 12px;

          border: 1px solid #f03454;
        }
      }
    }
  }

  //   Pagination
  .pagination {
    margin-bottom: 35px;
    ul {
      padding: 0;
      margin: 0;
      @include flex(space-between, center, row);
      width: 100%;
      flex-wrap: wrap;
      a {
        padding: 4px 12px;
        border: 1px solid #e9e9e9;
        font-weight: normal;
        font-size: 16px;
        color: #565656;
        transition: 0.3s ease-in-out;
        display: inline-block;
        &:hover {
          background: #f03454;
          color: #ffffff;
        }
      }
    }
  }

  .employee_data_list {
    .list_sections {
      padding: 0;
      @include flex(space-between, center, row);
      margin: 0 13px;

      li {
        display: flex;
        padding: 8px 16px;
        font-weight: normal;
        font-size: 16px;
        color: #989898;
        span {
          margin-right: 8px;
        }

        a {
          @include flex(center, center, column);
        }
      }
    }
  }
}

table {
  img {
    margin-right: 8px;
  }
}
.borderless td,
.borderless th {
  border: none !important;
}

.bootstrap-table {
  border: none !important;
}
.tbody,
.emp_details {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #2f2f2f;
  &:hover {
    background-color: #eefffa !important;
  }
}
.tbody,
th {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #989898;
  span {
    margin-right: 8px;
  }
}
.employee_id {
  text-align: center;
}

.fixed-table-container thead th .sortable {
  width: fit-content;
  padding: 16px;
}
.bootstrap-table .table:not(.table-condensed),
.bootstrap-table .table:not(.table-condensed) > tbody > tr > td,
.bootstrap-table .table:not(.table-condensed) > tbody > tr > th,
.bootstrap-table .table:not(.table-condensed) > tfoot > tr > td,
.bootstrap-table .table:not(.table-condensed) > tfoot > tr > th,
.bootstrap-table .table:not(.table-condensed) > thead > tr > td {
  padding: 16px;
}

.fixed-table-container {
  border: none;
}
.h-line {
  border-bottom: 1px solid #e4e4e4;
  padding: 0 32px;
  width: 96%;
  margin: auto;
  margin-bottom: 16px;
}

// employee_grid_layout_styles

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 11px;
  .card {
    width: 206px;
    margin-bottom: 24px;
    @include flex(center, center, column);
    background: #ffffff;
    border: 1px solid #e4e4e4;

    // height: 330px;

    .card-img {
      width: 70px;
      margin: 32px 0 16px 0;
    }

    .card-body {
      padding: 0;
      @include flex(center, center, column);

      .card-title {
        font-weight: normal;
        font-size: 18px;
        color: #000000;
        margin-bottom: 10px;
      }

      .card-text {
        font-weight: normal;
        font-size: 14px;
        color: #8d8d8d;
        margin-bottom: 32px;
      }

      .card-text2 {
        font-weight: normal;
        font-size: 14px;
        color: #2f2f2f;
        margin-bottom: 6px;
      }

      .card-text3 {
        font-weight: normal;
        font-size: 16px;
        color: #2f2f2f;
        margin-bottom: 57px;
      }
      .phone-icon {
        vertical-align: sub;
        margin-right: 8px;
      }
      .mail-icon {
        margin-right: 8px;
      }
    }
  }
}
