@import "emp-dashboard";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
li {
  list-style: none;
  text-decoration: none;
  color: rgb(124, 102, 102);
}

body {
  font-family: "Lexend", sans-serif;
  font-style: normal;
  background: #fcfcf7;
}

.container-fluid {
  width: 100%;
  margin: auto;
}
